<div class="container" style="padding-bottom: 100px;">
    <h3>Update Product</h3>
    <div>
        <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name">Product Name</label>
                        <input type="text" class="form-control" id="name" required [(ngModel)]="product.name" name="name">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input type="text" class="form-control" id="price" required [(ngModel)]="product.price" name="price">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="color">Color</label>
                        <input type="text" class="form-control" id="color" required [(ngModel)]="product.color" name="color">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="weight">Weight</label>
                        <input type="text" class="form-control" id="weight" required [(ngModel)]="product.weight" name="weight">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="size">Size</label>
                        <input type="text" class="form-control" id="size" required [(ngModel)]="product.size" name="size">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="sound">Sound</label>
                        <input type="text" class="form-control" id="sound" required [(ngModel)]="product.sound" name="sound">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="resolutionsOfWC">Resolutions Of WC</label>
                        <input type="text" class="form-control" id="resolutionsOfWC" required [(ngModel)]="product.resolutionsOfWC"
                            name="resolutionsOfWC">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Battery</label>
                        <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedBattery" name="batteryId">
                            <option *ngFor="let battery of batteries" value="{{battery.batteryId}}">{{battery.batteryInfo}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Brand</label>
                        <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedBrand" name="brandId">
                            <option *ngFor="let brand of brands" value="{{brand.brandId}}">{{brand.name}}</option>
                        </select>
                    </div>        
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>CPU</label>
                        <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedCPU" name="cpuId">
                            <option *ngFor="let cpu of CPUs" value="{{cpu.cpuId}}">{{cpu.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>Graphics Card</label>
                    <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedGraphicsCard" name="graphicsCardId">
                        <option *ngFor="let graphicsCard of graphicsCards" value="{{graphicsCard.graphicsCardId}}">{{graphicsCard.name}}</option>
                    </select>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Hard Disk</label>
                        <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedHardDisk" name="hardDiskId">
                            <option *ngFor="let hardDisk of hardDisks" value="{{hardDisk.hardDiskId}}">{{hardDisk.name}}</option>
                        </select>
                    </div>        
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Operating System</label>
                        <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedOperatingSystem" name="operatingSystemId">
                            <option *ngFor="let operatingSystem of operatingSystems" value="{{operatingSystem.operatingSystemId}}">{{operatingSystem.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Ram</label>
                        <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedRam" name="ramId">
                            <option *ngFor="let ram of rams" value="{{ram.ramId}}">Memory: {{ram.memory}} - Type: {{ram.type}}</option>
                        </select>
                    </div>        
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Screen</label>
                        <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedScreen" name="screenId">
                            <option *ngFor="let screen of screens" value="{{screen.screenId}}">Size: {{screen.size}} - Technology: {{screen.technology}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="weight">Quantity</label>
                        <input type="text" class="form-control" id="quantity" required [(ngModel)]="product.quantity" name="quantity">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="size">Summary </label>
                        <input type="text" class="form-control" id="summary" required [(ngModel)]="product.summary" name="summary">
                    </div>
                </div>
                <div class="form-group">
                    <label for="size">Image</label>
                    <input type="text" class="form-control" id="image" required [(ngModel)]="product.image" name="image">
                </div> 
            </div>
            <button type="submit" class="btn btn-success form-group">Submit</button>
            <button class="btn btn-success btnCancel" (click)="cancel()">Go to Home Page</button>
        </form>
    </div>
    <div *ngIf="showLoadingIndicator" class="spinner"></div>
    </div>