.imgLogo {
    width: 120px;
}

.navbar-brand {
    cursor: pointer;
}

.nav-item .nav-link {
    font-size: larger;
    padding-right: 20px;
    font-weight: 700;
    cursor: pointer;
    color: darkgreen;
}

.nav-item .nav-link:hover {
    color: goldenrod;
}

.infor {
    font-size: larger;
    padding-top: 8px;
    padding-right: 10px;
    font-weight: 700;
    color: darkgreen;
}