<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" (click)="moveToHomePage()">
            <img class="imgLogo" src="../../assets/images/logo.png" alt="img" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item" *ngIf="userName != null && isLoggedIn">
                    <a class="nav-link" (click)="moveToLogin()">Product Management</a>
                </li>
            </ul> -->
            <!-- Right -->
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item" *ngIf="userName == null">
                    <a class="nav-link" (click)="moveToRegisterPage()">Sign Up</a>
                </li>
                <li class="nav-item" *ngIf="userName == null">
                    <a class="nav-link" (click)="moveToLogin()">Log In</a>
                </li>
                <li class="nav-item">
                    <p class="infor" *ngIf="userName != null && isLoggedIn">Welcome {{userName}} </p>
                </li>
                <li class="nav-item">
                    <a type="button" style="margin-bottom: initial;" class="nav-link" (click)="logout()"
                        *ngIf="userName != null && isLoggedIn">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>