<footer class="bg-light footer">
    <!-- Copyright -->
    <div class="footer-copyright">
      <p class="text-center p-3"> ©{{year}} Copyright: ComputerStore</p>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->