<div class="container-fluid">
    <button type="button" class="btn btn-outline-secondary" style="margin-right: 10px;" (click)="setLoadProductList()">Product List</button>
    <button type="button" class="btn btn-outline-secondary" (click)="moveToAddProduct()">Add Product</button>
    <div *ngIf="isLoadProductList">
    <app-product-list></app-product-list>
    </div>
</div>
