<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Product List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Color</th>
            <th>Weight</th>
            <th>Size</th>
            <th>Sound</th>
            <th>Resolutions Of WC</th>
            <th>Brand</th>
            <th>Battery</th>
            <th>Quantity</th>
            <th>Color</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.color}}</td>
            <td>{{product.weight}}</td>
            <td>{{product.size}}</td>
            <td>{{product.sound}}</td>
            <td>{{product.resolutionsOfWC}}</td>
            <td>{{product.brand.name}}</td>
            <td>{{product.battery.batteryInfo}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.color}}</td>
            <td><button class="btn btn-danger" style="margin-left: 10px" (click)="deleteProductById(product.id)">Delete</button>
                <button class="btn btn-info" style="margin-left: 10px" (click)="updateProductById(product.id)">Update</button>
                <button class="btn btn-info" style="margin-left: 10px" (click)="getProductById(product.id)">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="showLoadingIndicator" class="spinner"></div>
  </div>
