<div class="container">
    <div className="forbiddenPage">
        <img src = "../../../assets/images/403.png" alt = "403 Forbidden" class="img403"/>
        <h1>403</h1>
        <p>Sorry, you need to login first to access it.</p>
        <a class = 'moveToLogin' (click)="moveToLoginPage()">Login to your account</a>
    </div>
</div>
