<div class="container">
    <div class="signup-form">
        <form method="POST" [formGroup]="registerForm" (ngSubmit) = "register()">
          <!-- <div *ngIf="showErrorMessage">
            <p style="color: red;text-align: center;font-size: 15px;">{{ errString }}</p>
           </div> -->
        <h2>Sign Up</h2>
        <div class="or-seperator"></div>
            <div class="form-group">
              <input type="text" class="form-control input-lg" formControlName="userName" placeholder="Username" required="required" 
              [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" />
              <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                <div style="color: red;font-size: 15px;" *ngIf="f.userName?.errors?.required">Username is required</div>
              </div>
            </div>
            <div class="form-group">
                <input type="password" class="form-control input-lg" formControlName="password" placeholder="Password" required="required" 
                 [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div style="color: red;font-size: 15px;" *ngIf="f.password?.errors?.required">Password is required</div>
                </div>
                <div style="color: red;font-size: 15px;" *ngIf="f.password?.errors?.minlength">
                  Password must be at least 6 characters
                </div>
                <div style="color: red;font-size: 15px;" *ngIf="f.password?.errors?.maxlength">
                  Password must not exceed 40 characters
                </div>
            </div>  
              <div class="form-group">
                  <input type="password" class="form-control input-lg" formControlName="confirmPassword" placeholder="Confirm Password" required="required" 
                   [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                  <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                    <div style="color: red;font-size: 15px;" *ngIf="f.confirmPassword?.errors?.required">Confirm Password is required</div>
                  </div>
                  <div style="color: red;font-size: 15px;" *ngIf="f.confirmPassword?.errors?.minlength">
                    Password must be at least 6 characters
                  </div>
                  <div style="color: red;font-size: 15px;" *ngIf="f.confirmPassword?.errors?.maxlength">
                    Password must not exceed 40 characters
                  </div>
                  <div style="color: red;font-size: 15px;" *ngIf="f.confirmPassword?.errors?.matching">
                    Confirm Password does not match
                  </div>
                </div>  
              <div class="form-group">
                <input type="text" class="form-control input-lg" formControlName="fullName" placeholder="Full Name" required="required" 
                 [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }">
                <div *ngIf="submitted && f.fullName.errors" class="invalid-feedback">
                  <div style="color: red;font-size: 15px;" *ngIf="f.fullName?.errors?.required">Fullname is required</div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control input-lg" formControlName="email" placeholder="Email" required="required"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div style="color: red;font-size: 15px;" *ngIf="f.email?.errors?.required">Email is required</div>
                </div>
                <div  style="color: red;font-size: 15px;" *ngIf="f.email?.errors?.email">Email is invalid</div>
              </div>
              <div class="form-group">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="gender" id="inlineRadio1" value="0">
                <label class="form-check-label" for="inlineRadio1">Male</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="gender" id="inlineRadio2" value="1">
                <label class="form-check-label" for="inlineRadio2">Female</label>
              </div>
              </div>
            <div class="form-group">
                <div class="text-center">
                    <button type="submit" class="btn btn-success btn-lg btn-block signup-btn">Sign Up</button>
                </div>
            </div>
            <div class="text-center small">Or you have an account? <a class="btnSignIn" (click)="moveToLogin()">Log In</a></div>
        </form>
        </div>
          <!-- Bind to showLoadingIndicator property in the component class -->
     <div *ngIf="showLoadingIndicator" class="spinner"></div>
      </div>