<div class="container">
<div class="signin-form">
    <form method="POST" [formGroup]="loginForm">
      <!-- <div *ngIf="showErrorMessage">
        <p style="color: red;text-align: center;font-size: 15px;">{{ errString }}</p>
       </div> -->
    <h2>Log In ComputerStore</h2>
    <div class="or-seperator"></div>
        <div class="form-group">
          <input type="text" class="form-control input-lg" formControlName="userName" placeholder="Username" required="required" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" />
          <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
            <div style="color: red;font-size: 15px;" *ngIf="f.userName.errors.required">Username is required</div>
          </div>
        </div>
        <div class="form-group">
            <input type="password" class="form-control input-lg" formControlName="password" placeholder="Password" required="required" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"  />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div style="color: red;font-size: 15px;" *ngIf="f.password.errors.required">Password is required</div>
              <div style="color: red;font-size: 15px;" *ngIf="f.password.errors.minlength">
                Password must be at least 6 characters
              </div>
              <div style="color: red;font-size: 15px;" *ngIf="f.password.errors.maxlength">
                Password must not exceed 40 characters
              </div>
            </div>
           
        </div>  
        <p> <b>admin info:</b> admin1/123456</p>
        <div class="form-group">
            <div class="text-center">
                <button type="submit" class="btn btn-success btn-lg btn-block signup-btn" (click)="login();">Log In</button>
            </div>
        </div>
        <div class="text-center small">Don't have an account? <a class="btnSignUp" (click)="moveToRegisterPage()">Sign Up</a></div>
    </form>
    </div>
     <!-- Bind to showLoadingIndicator property in the component class -->
     <div *ngIf="showLoadingIndicator" class="spinner"></div>
  </div>