.form-control {
    font-size : 16px;
    transition: all 0.4s;
    box-shadow: none;
}

.form-control:focus {
    border-color: #5cb85c;
}

.form-control,
.btn {
    border-radius: 50px;
    outline      : none !important;
}

.signin-form {
    width  : 520px;
    margin : 0 auto;
    padding: 45px;
}

.signin-form form {
    border-radius: 5px;
    margin-bottom: 20px;
    background   : #fff;
    box-shadow   : 5px 5px 35px rgb(0 0 0 / 30%);
    padding      : 40px;
}

.signin-form a {
    color: #5cb85c;
    font-size: 13px;
    text-decoration: none;
}

.signin-form h2 {
    text-align: center;
    font-size : 34px;
    margin    : 10px 0 15px;
}

.signin-form .hint-text {
    color        : #999;
    text-align   : center;
    margin-bottom: 20px;
}

.signin-form .form-group {
    margin-bottom: 20px;
}

.signin-form .btn {
    font-size  : 16px;
    line-height: 20px;
    font-weight: bold;
    text-align : center;
    width: 40%;
}

.signin-form .small {
    font-size: 13px;
}

.signup-btn {
    text-align  : center;
    border-color: #5cb85c;
    transition  : all 0.4s;
}

.signup-btn:hover {
    background: #5cb85c;
    opacity   : 0.8;
}

.btnSignUp {
    cursor: pointer;
}

.spinner {
    border: 16px solid silver;
    border-top: 16px solid #337AB7;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 700ms linear infinite;
    top:50%;
    left:48%;
    position: absolute;
  }
  @keyframes spin {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(-360deg) }
  }